---
import About from '../components/about.astro'
import Contact from '../components/contact.astro'
import Education from '../components/education.astro'
import Experience from '../components/experience.astro'
import Hero from '../components/hero.astro'
import Projects from '../components/projects.astro'
import Skills from '../components/skills.astro'
import Root from '../layouts/root.astro'
---

<Root>
  <div class="flex w-full flex-col gap-y-10">
    <Hero />
    <About />
    <Skills />
    <Experience />
    <Education />
    <Projects />
    <Contact />
  </div>
</Root>
