---
import { app } from '../config'
import Clips from './ui/clips.astro'
import Section from './ui/section.astro'

const social = [
  { title: 'GitHub', link: app.links.github },
  { title: 'LinkedIn', link: app.links.linkedIn }
]

const email = [{ title: 'pranay.darmapuri@gmail.com', link: app.links.email }]

const resume = [{ title: 'view resume', link: app.links.resume }]
---

<Section title="Get in Touch">
  <Clips title="Social" links={social} />
  <Clips title="Email" links={email} />
  <Clips title="Resume" links={resume} />
</Section>
