---
import Card from './ui/card.astro'
import Section from './ui/section.astro'
---

<Section title="Education">
  <Card heading="CMR Technical Campus" subheading="2017 - 2021" date="Bachelor's Degree in Computer Science">
    <span class="text-muted-foreground">GPA: 6.91</span>
  </Card>
  <Card heading="Narayana Jr. College" subheading="2015 - 2017" date="Intermediate in MPC">
    <span class="text-muted-foreground">Percentage: 82.5</span>
  </Card>
  <Card heading="Sri Triveni School " subheading="2015" date="SSC">
    <span class="text-muted-foreground">GPA: 8.5</span>
  </Card>
</Section>
