---
import Card from './ui/card.astro'
import Section from './ui/section.astro'
---

<Section title="Experience">
  <Card heading="Denaurlen Pvt Ltd" subheading="Tech Lead" date="APR 2022 - JUL 2025">
    <ul class="ml-4 list-disc text-muted-foreground">
      <li>Led a group of 5+ developers in building a social networking platform that works well</li>
      <li>Built a microservices-based backend with Node.js,(Express), and a centralized GraphQL API gateway</li>
      <li>
        Designed and implemented gRPC-based communication between services for low-latency, high-throughput performance across
        the services
      </li>
      <li>
        Oversaw the development of the frontend of web platform using Next.js and cross-platform mobile app using Flutter
      </li>
      <li>
        Worked with the design, product, and QA teams to provide features like real-time chat, tailored feeds, media sharing,
        and user statistics
      </li>
      <li>Helped the team recruit, onboard, and share knowledge with new engineers, while also mentoring junior engineers</li>
    </ul>
  </Card>
  <Card heading="Turbomodus Pvt Ltd" subheading="Jr Software Engineer" date="NOV 2021 - MAR 2022">
    <ul class="ml-4 list-disc text-muted-foreground">
      <li>Used Angular to add new UI features that improved user engagement and efficiency</li>
      <li>
        Legacy code was migrated from VBScript to Angular, which improved maintainability, scalability, and compatibility with
        newer browsers
      </li>
      <li>
        Collaborated closely with senior engineers to debug and optimize modules, ensuring smooth interface with backend
        systems
      </li>
    </ul>
  </Card>
</Section>
